{% extends "layout.html" %}

{% block page_title %}New Project{% endblock page_title %}

{% block additional_styles %}{% endblock additional_styles %}

{% block page_content_div %}

    <div class="row text-white ps-2 pe-2">
        <div class="card-header">
            <div class="h1 card-title">Add New Project</div>
            <div class="card-category">
                New Project!!
            </div>
        </div>

        {# Add form as "class-body" here #}
        {% include "components/forms/new_project_form.html" %}
        
        <div class="card-footer">
        Never share password and other secrets with anyone.
        </div>
    </div>

{% endblock page_content_div %}

{% block additional_scripts %}
    <script>
        document.getElementById('project-image').addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const preview = document.getElementById('image-preview');
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
{% endblock additional_scripts %}