{% extends "layout.html" %}

{% block page_title %}{{project.handle}}{% endblock page_title %}

{% block additional_styles %}{% endblock additional_styles %}

{% block page_content_div %}

<div class="game-details">
    <div class="row">
        <div class="col-lg-12">
            <h2>{{project.name}}</h2>
        </div>
        <div class="col-lg-12">
            <div class="content">
                <div class="row">

                    <div class="col-lg-12 mt-3 mb-3">
                        <p>{{project.content}}</p>
                    </div>

                    <div class="col-lg-6">
                        <div class="left-info">
                            <div class="left">
                                <h4>{{project.handle}}</h4>
                                <span>{{project.user_username}}</span>
                            </div>
                            <ul>
                                <li><i class="fa fa-user"></i> {{project.view_count}}</li>
                                <li>
                                Status: 
                                    {% if project.is_verified %}
                                        <i class="fa-regular fa-circle-check"></i> 
                                    {% else %}
                                        <i class="fa-regular fa-circle-xmark"></i>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="right-info">
                            <ul>
                                <li><a href="{% url "view-catalog" reqested_Project_catalog.1 %}"><i class="fa-brands fa-font-awesome"></i> {{reqested_Project_catalog.0}}</a></li>
                                <li><a href="{% url "view-label" reqested_Project_label.1 %}"><i class="fa-solid fa-tag"></i> {{reqested_Project_label.0}}</a></li>
                                
                                {% if project.deployed_url %}
                                    <li><a href="{{project.deployed_url}}"><i class="fa fa-server"></i> Open Site</a></li>
                                {% else %}
                                    <li><i class="fa fa-server"></i> No URL Found</li>
                                {% endif %}


                                {% if project.github_repository %}
                                    <li><a href="{{project.github_repository}}"><i class="fa-brands fa-github"></i> GitHub</a></li>
                                {% else %}
                                    <li><i class="fa-brands fa-github"></i> No URL Found</li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <img src="{% if project.thumbnail_image %}https://res.cloudinary.com/content-storage/image/upload/w_1000/q_auto/f_auto/{{project.thumbnail_image}}{% else %}https://res.cloudinary.com/content-storage/image/upload/v1754682972/w_1000/q_auto/f_auto/Screenshot_2024-07-17-20-19-15-358_com.instagram.android_vgyjqn.jpg{% endif %}" alt=""
                            style="border-radius: 23px;">
                    </div>
                    <div class="col-lg-4">
                        <img src="https://images.unsplash.com/photo-1754630551378-e1ecffe9da6b?q=80&w=1166&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""
                            style="border-radius: 23px;">
                    </div>
                    <div class="col-lg-4">
                        <img src="https://images.unsplash.com/photo-1754630551378-e1ecffe9da6b?q=80&w=1166&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""
                            style="border-radius: 23px;">
                    </div>
                    
                    <div class="col-lg-12">
                        <div class="main-border-button">
                            <a href="{{ project.document_file.url}}" download="{{project.name}}.pdf" target="_blank">Download Document</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock page_content_div %}

{% block additional_scripts %}{% endblock additional_scripts %}