{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block page_title %}{% endblock page_title %} - ApexSky</title>
        <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon" />

        {% comment %} <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> {% endcomment %}
        <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" >
        <link rel="stylesheet" href="{% static "assets/css/fontawesome.css" %}">
        
        
        <link rel="stylesheet" href="{% static "assets/css/apexsky-header-styles.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/apexsky-main-styles.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/apexsky-footer-styles.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/global-css-styles.css" %}">

        <link rel="stylesheet" href="{% static "assets/css/owl.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/animate.css" %}">
        {# Custom CSS Styles for ApexSky #}

        {% block additional_styles %}
        
        {% endblock additional_styles %}
        
        {% comment %} 
            <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
        {% endcomment %}
    </head>
    <body>

        {% comment %} {% include "components/primary-blocks/loader.html" %}   {#  javascript Loader  #} {% endcomment %}

        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="{% url "landing-page" %}" class="logo">
                                <img src="{% static "assets/images/Apexsky.png" %}" alt="">
                            </a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Search End ***** -->
                            <div class="search-input">
                                <form id="search" action="{% url "search-page" %}">
                                    <input type="text" id="searchText" name="searchKeyword" placeholder="Type Something" onkeypress="handle">
                                    <i class="fa fa-search"></i>
                                </form>
                            </div>
                            <!-- ***** Search End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li>
                                    <a href="{% url "landing-page" %}">Home</a>
                                </li>
                                <li>
                                    <a href="{% url "explore-page" %}">Explore</a>
                                </li>
                                <li>
                                    <a href="{% url "project-homepage" %}">Projects</a>
                                </li>
                                <li>
                                    <a href="{% url "new-project-page" %}">New</a>
                                </li>
                                <li>
                                    <a href="{% url "search-page" %}">Search</a>
                                </li>
                                <li>
                                    {% if user.is_authenticated %}
                                        <a href="{% url "profile-page" %}">{{request.user.username}}
                                            <img src="{% if request.user.profile_image %}https://res.cloudinary.com/content-storage/image/upload/c_thumb,h_50,w_50/{{request.user.profile_image}}{% else %}https://res.cloudinary.com/content-storage/image/upload/v1754682972/w_1000/q_auto/f_auto/Screenshot_2024-07-17-20-19-15-358_com.instagram.android_vgyjqn.jpg{% endif %}" alt="{{request.user.first_name}} {{request.user.username}}">
                                        </a>
                                    {% else %}
                                        <a href="{% url "login-account" %}">
                                            Login
                                        </a>
                                    {% endif %}
                                    
                                </li>
                            </ul>
                            <a class="menu-trigger">
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->
        
        <!-- ***** Header Area Start ***** -->
        <main class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-content">
                        {% include "components/primary-blocks/alert.html" %}
                        
                        {# Page Contents #}
                        {% block page_content_div %}{% endblock page_content_div %}
                        {# Page Contents #}
                    </div>
                </div>
            </div>
        </main>
        <!-- ***** Header Area End ***** -->
        
        <!-- ***** Header Area End ***** -->
        <footer>
            {% include "components/about_apexsky_project.html" %}
            <div class="container">
                <div class="row small">
                    <div class="col-lg-12">
                        <p >Copyright © 2025
                            <a href="#">ApexSky</a>
                            Company. All rights reserved.
                        </p>
                        <p class="small">
                            <br>Design:
                            <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a>  Distributed By
                            <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ***** Header Area End ***** -->

        <!-- Scripts -->
        <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "vendor/jquery/jquery.min.js" %}"></script> 
        
        <!-- Bootstrap core JavaScript (replace with CDN) -->
        
        <script src="{% static "assets/js/isotope.min.js" %}"></script>
        <script src="{% static "assets/js/owl-carousel.js" %}"></script>
        <script src="{% static "assets/js/tabs.js" %}"></script>
        <script src="{% static "assets/js/custom.js" %}"></script>
        {% block additional_scripts %}
        {% endblock additional_scripts %}

        {% comment %} <script src="{% static "assets/js/popup.js" %}"></script> {% endcomment %}
        
    </body>
</html>
