
<div class="game-details">
    <div class="row">
        <div class="col-lg-12">
            <h2>Projects ApexSky Details</h2>
        </div>
        <div class="col-lg-12">
            <div class="content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="left-info">
                            <div class="left">
                                <h4>ProJect ApexSky</h4>
                                <span>Sandbox</span>
                            </div>
                            <ul>
                                <li><i class="fa fa-star"></i> 0</li>
                                <li><i class="fa fa-download"></i> 0</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-info">
                            <ul>
                                <li><i class="fa fa-star"></i> 0</li>
                                <li><i class="fa fa-download"></i> 0</li>
                                <li><i class="fa fa-server"></i> 0</li>
                                <li><i class="fa fa-gamepad"></i> Action Apex</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <img src="#" alt=""
                            style="border-radius: 23px; margin-bottom: 30px;">
                    </div>
                    <div class="col-lg-4">
                        <img src="#" alt=""
                            style="border-radius: 23px; margin-bottom: 30px;">
                    </div>
                    <div class="col-lg-4">
                        <img src="#" alt=""
                            style="border-radius: 23px; margin-bottom: 30px;">
                    </div>
                    <div class="col-lg-12">
                        <p>Apexsky is a online porject management platform for every individual. The idea is basically came form the centralized projects, Events, Overall any uniques can store in a server. So that Every Not Tech Users as well as tech user can dynamically fetch this projects/ event info Without explicetly edit HTML everytime whenever new project/Events come. 
                            Apexsky v0.1.0. You can make a <a href="https://paypal.me/saidulalimallick04"
                                target="_blank">small
                                contribution via PayPal</a> to support ApexSky and thank
                            you for supporting.</p>
                    </div>
                    <div class="col-lg-12">
                        <div class="main-border-button">
                            <a href="https://paypal.me/saidulalimallick04">Support</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>