<div class="main-banner">
    <div class="row">
        <div class="col-lg-7">
            <div class="header-text">
                <h6>Welcome To ApexSky</h6>
                <span class="text-bg-dark"><code> &emsp13;<.Find Your own way of Life./>&emsp13;</code></span><br>
                <h4>
                    <em>Find Projects!!</em>  <br> Find Ideas!!
                </h4>
                <div class="main-button">
                    <a href="{% url "explore-page" %}">Explore Now</a>
                </div>
            </div>
            {% comment %} <div class="d-none d-lg-block ">
                <h6>Welcome To ApexSky</h6>
                <h4>
                    <em>Browse</em> Our Popular Projects Here
                </h4>
                <div class="main-button">
                    <a href="{% url "explore-page" %}">Explore Now</a>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
    </div>
</div>