{% load static %}

<div class="gaming-library">
    <div class="col-lg-12">
        <div class="heading-section">
            <h4>
                <em>Project</em> Library/Catalog
            </h4>
        </div>
        {% for catalog in projectCatalogs %}
            <div class="item">
                <ul>
                    <li>
                        <img src="https://res.cloudinary.com/content-storage/image/upload/v1752548712/{{catalog.thumbnail_image}}" alt="{{catalog.name}}" class="templatemo-item">
                    </li>
                    <li>
                        <h4>{{catalog.handle}}</h4>
                        <span>{{catalog.descriptions | truncatechars:10}}</span>
                    </li>
                    <li>
                        <h4></h4>
                        <span></span>
                    </li>
                    <li>
                        <h4>{{catalog.name}}</h4>
                        <span>Catagory Name</span>
                    </li>
                    
                    <li>
                        <h4>24</h4>
                        <span>No of Projects</span>
                    </li>
                    <li>
                        <div class="main-border-button">
                            <a href="#">See All</a>
                        </div>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
    <div class="col-lg-12">
        <div class="main-button">
            <a href="{% url "project-homepage" %}">View Project Library</a>
        </div>
    </div>
</div>