{% extends "layout.html" %}

{% block page_title %}Create Account{% endblock page_title %}

{% block additional_styles %}{% endblock additional_styles %}

{% block page_content_div %}

    <div class="row text-white p-3">
        <div class="card-header">
            <div class="h1 card-title">Create Account</div>
            <div class="card-category">
                Join to ApexSky!!
            </div>
        </div>

        {% include "components/forms/create_account_form.html" %}


        <div class="card-footer">
            <p class="lead text-end">Don't have an account? <a href="{% url "login-account" %}">Sign in</a></p>
        </div>
    </div>

{% endblock page_content_div %}

{% block additional_scripts %}{% endblock additional_scripts %}