{% extends "layout.html" %}

{% block page_title %}Login{% endblock page_title %}

{% block additional_styles %}{% endblock additional_styles %}

{% block page_content_div %}

    <div class="row text-white p2 col-md-6 ms-auto me-auto">
        <div class="card-header">
            <div class="h1 card-title">Login</div>
            <div class="card-category">
                Login to ApexSky!!
            </div>
        </div>

        {# Add Form As "class-body" Class #}
        {% include "components/forms/login_form.html" %}

        <div class="card-footer">
            
        </div>
    </div>

{% endblock page_content_div %}

{% block additional_scripts %}{% endblock additional_scripts %}



