{% extends "base.html" %}

{% block Title %}Profile{% endblock %}

{% block CustomCSS %}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

{% comment "For Delete Module" %}---------------------------------------{% endcomment %}
.card {
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    text-align: left;
    border-radius: 0.5rem;
    max-width: 290px;
    box-shadow:
        0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.header {
    padding: 1.25rem 1rem 1rem 1rem;
    background-color: #ffffff;
}

.image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #fee2e2;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
}

.image svg {
    color: #dc2626;
    width: 1.5rem;
    height: 1.5rem;
}

.content {
    margin-top: 0.75rem;
    text-align: center;
}

.title {
    color: #111827;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    }

.message {
    margin-top: 0.5rem;
    color: #6b7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.actions {
    margin: 0.75rem 1rem;
    background-color: #f9fafb;
}

.desactivate {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #dc2626;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.cancel {
    display: inline-flex;
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: #374151;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

button {
    cursor: pointer;
}

{% endblock CustomCSS %}



{% block MainDiv %}

<div class="container text-center mt-5">
    <h1>Profile</h1>
    <p>I'm a valued user of this platform</p>
    
    <div class="row justify-content-center mt-4">
        <div class="col-md-4 text-start">
            <h4>DETAILS</h4>
            <p><strong>Name:</strong> {{request.user.first_name}} {{request.user.last_name}}</p>
            <p><strong>Location:</strong> {{request.user.location}}</p>
            <hr class="my-3">
            <p><strong>Gender: </strong> {{request.user.gender}}</p>
            <p><strong>DoB: </strong> {{request.user.date_of_birth}}</p>
            
            
        </div>
        
        <div class="col-md-4 text-center">
            <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Profile Picture" class="profile-img">
            {% if request.user.nickname %}
                <p><strong class="mt-3">{{request.user.nickname}} <br><a href="{% url 'Set_Nickname'%}">Edit</a> </strong> </p>
            {% else %}
                <p><strong class="mt-3"><a href="{% url 'Set_Nickname'%}">Set Nickname</a> </strong> </p>
            {% endif %}
            
            
        </div>

        <div class="col-md-4 text-end">
            <h4>ABOUT ME</h4>
            <p>{{ request.user.about_me}}</p>

            <p><strong>Email: </strong> {{request.user.email}} 
            {% if not request.user.is_verified %}
            <form>
                <a class="btn btn-primary" href='/verifyemail/'>
                    Verify
                </a>
            </form>
            {% endif %}
            </p>
            <p><strong>Ph. Number: </strong> {{request.user.phone_number}}</p>
        </div>
    </div>
    
    <div class="mt-4">
        <a href="#" class="me-2"><i class="bi bi-facebook"></i></a>
        <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
    </div>
</div>
<center>
    <a href="/updateprofile/"><button class="btn btn-primary md-4">Update profile</button></a>
    <br>
    <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Delete Profile
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="container">
                        <!-- From Uiverse.io by Yaya12085 --> 
                        <div class="card">
                            <div class="header">
                            <div class="image">
                                <svg
                                aria-hidden="true"
                                stroke="currentColor"
                                stroke-width="1.5"
                                viewBox="0 0 24 24"
                                fill="none"
                                >
                                <path
                                    d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                                    stroke-linejoin="round"
                                    stroke-linecap="round"
                                ></path>
                                </svg>
                            </div>
                            <div class="content">
                                <span class="title">Deactivate account</span>
                                <p class="message">
                                Are you sure you want to deactivate your account? All of your data will
                                be permanently removed. This action cannot be undone.
                                </p>
                            </div>
                            <div class="actions">
                                <a href="/deleteprofile/"><button class="desactivate" type="button">Deactivate</button></a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </div>

</center>

{% endblock MainDiv %}